<div class="modal fade" id="quickView" tabindex="-1" aria-labelledby="quickViewLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    _mstaria-label="59709"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid bd-example-row">
                    <div class="row">
                        <div class="col-md-6 image">
                            <img src="assets/img/Mieltertos-noche-sachet-15g.webp" alt="Salud" width="100%" height="100%">
                        </div>
                        <div class="col-md-6 product">
                            <div class="product-body">
                                <span class="category-product">Categoría: <a href="#">Sachets</a></span>
                                <h2 class="title-product">Mieltertos Noche sachet 15 g</h2>
                                <div class="price-product">
                                    <span class="price-before">$2.600</span>
                                    <span class="price-after">$2.300</span>
                                </div>
                                <p class="product-description">
                                    Experimenta alivio instantáneo y reconfortante con nuestro jarabe para la tos "Respiro Natural". Diseñado con una fórmula única y cuidadosamente elaborada, este jarabe ofrece un enfoque holístico para combatir los síntomas de la tos, desde la irritación de garganta hasta la congestión bronquial.
                                </p>
                                <div class="add-cart-quantity">
                                    <div class="quantity-input">
                                        <a href="#" class="decrement-btn">-</a>
                                        <input type="number" id="quantity" name="quantity" size="2" step="1" min="1" max="10" value="1">
                                        <a href="#" class="increment-btn">+</a>
                                    </div>
                                    <button class="btn btn-primary cart">
                                        Añadir al Carrito
                                        <i class="bi bi-cart4"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>               
                </div>
            </div>
        </div>
    </div>
</div>