.breadcrumb {
    font-size: 0.85rem;
    color: #555;
    margin-bottom: 1rem;
    margin-top: 1rem;
    a {
        color: #16a34a;
        text-decoration: none;
    }

    span {
        margin: 0 6px;
    }
}
