body{
    .cards-recommendation{
        .row{
            margin-left: 0;
            margin-right: 0;
            justify-content: center;
            @include breakpoint(phone){
                gap:20px;
            }
            .card-body{
                i::before{
                    color: #fff;
                    margin-left: 9px;
                    position: relative;
                    top: 0.5px;
                }
            }
        }
    }
}