<div class="title-section">
    <h2>Recomendaciones</h2>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <img src="./assets/img/salud.webp" height="260" class="card-img-top" alt="Salud">
            <div class="card-body">
                <h5 class="card-title">Salud</h5>
                <p class="card-text">Aumenta el uso de la medicina naturista para prevenir enfermedades. Algunos médicos
                    la recomiendan y explican
                    que este tipo de medicamentos sirven como coadyuvantes
                    para los efectos de la medicina tradicional.</p>
                <a href="#" class="btn btn-primary">
                    Más Información
                    <i class="bi bi-info-circle"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img src="./assets/img/alimentacion.webp" height="260" class="card-img-top" alt="Alimentación">
            <div class="card-body">
                <h5 class="card-title">Alimentación</h5>
                <p class="card-text">Tiende a estar de moda en diferentes países principalmente
                    por una cuestión básica: aporta un buen número de propiedades y beneficios al organismo, y ayuda al
                    correcto y buen funcionamiento de la salud.</p>
                <a href="#" class="btn btn-primary">
                    Más Información
                    <i class="bi bi-info-circle"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img src="./assets/img/recetas.webp" height="260" class="card-img-top" alt="Recetas naturales">
            <div class="card-body">
                <h5 class="card-title">Recetas naturales</h5>
                <p class="card-text">Las recetas naturistas son una maravillosa manera de aprovechar los beneficios que
                    nos ofrece la naturaleza para cuidar nuestra salud y bienestar. Estas recetas se basan en el uso de
                    ingredientes naturales.</p>
                <a href="#" class="btn btn-primary">
                    Más Información
                    <i class="bi bi-info-circle"></i>
                </a>
            </div>
        </div>
    </div>
</div>