<div class="card-info">
    <img src="./assets/img/calendar.webp" alt="Calendario" height="110" width="147">
    <div class="card-body">
        <h5>Agenda tu cita</h5>
        <p>Agenda una cita con los mejores especialistas</p>
        <button class="btn btn-dark">
            Agendar
            <i class="bi bi-calendar3"></i>
        </button>
    </div>
</div>
<div class="card-info">
    <img src="./assets/img/building.webp" alt="Ubicación" width="110" height="110">
    <div class="card-body">
        <h5>Tienda mas cercana</h5>
        <p>Encuentra la sucursal mas cercana en tu ciudad</p>
        <button class="btn btn-dark">
            Ubicación
            <i class="bi bi-geo-alt"></i>
        </button>
    </div>
</div>
<div class="card-info">
    <img src="./assets/img/contact.webp" alt="Contacto" width="127" height="110">
    <div class="card-body">
        <h5>Contactanos</h5>
        <p>Si tienes una duda no dudes en contactarte con nosotros</p>
        <button class="btn btn-dark">
            Contacto
            <i class="fbi bi-telephone-inbound"></i>
        </button>
    </div>
</div>