//abstracts
@use "../abstracts/mixins.scss";

.cards-infos{
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    @include mixins.breakpoint(phone){
        gap: 25px;
    }
    @include mixins.breakpoint(tablet){
        gap: 20px;
    }
    .card-info{
        text-align: center;
        border-radius: 10px;
        border: 1px solid #d3d3d3;
        padding: 20px;
        flex: 0 0 auto; 
        max-width: 100%;
        @include mixins.breakpoint(desktop){ 
            max-width: 25%;
        }
        @include mixins.breakpoint(tablet){
            max-width: 30%;
        }
        img{
            height: 110px;
            width: auto;
        }
        .card-body{
            @include mixins.breakpoint(desktop){ 
                padding: 0 22px;
            }
            h5{
                text-transform: uppercase;
            }
            button{
                width: 80%;
                i{
                    color: #ffffff;
                    margin-left: 6px;
                }
            }
        }
    }
}