.cards-products{
    ul{
        padding: 0;
        list-style: none;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        li{
            flex: 1;
            max-width: 20%;
            @include breakpoint(phone){
                max-width: 100%;
            }
        }
        .card.product{
            -webkit-box-shadow: 2px 3px 5px -2px rgba(0,0,0,0.67);
            -moz-box-shadow: 2px 3px 5px -2px rgba(0,0,0,0.67);
            box-shadow: 2px 3px 5px -2px rgba(0,0,0,0.67);
            figure{
                margin: 0;
                figcaption{
                    visibility: hidden;
                    position: absolute;
                }
                img{
                    height: auto;
                }
            }
            .description{
                text-align: center;
                .title-product{
                    font-size: 20px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .category-product{
                    opacity: .6;
                }
                .price-product{
                    margin-bottom: 1rem;
                    .price-before{
                        opacity: .6;
                        text-decoration: line-through;
                    }
                }
                .quick-view{
                    margin-bottom: 7px;
                    width: 100%;
                    display: none;
                }
                button.cart{
                    width: 100%;
                    background-color: #51ce54;
                    border-color: #51ce54;
                    &:hover{
                        background-color: #21a924;
                        -webkit-box-shadow: 2px 3px 5px -2px rgba(0,0,0,0.67);
                        -moz-box-shadow: 2px 3px 5px -2px rgba(0,0,0,0.67);
                        box-shadow: 2px 3px 5px -2px rgba(0,0,0,0.67);
                    }
                    i{
                        color: #ffffff;
                        margin-left: 8px;
                    }
                }
            }
            &:hover{
                .quick-view{
                    display: block;
                }
            }
        }
    }
}