//abstracts
@use "../abstracts/mixins.scss";

#quickView{
    .modal-dialog{
        max-width: 750px;
        .modal-content{
            .modal-header{
                border:none;
                padding: 0;
                button{
                    position: absolute;
                    right: 14px;
                    top: 12px;
                    z-index: 1;
                }
            }
            .modal-body{
                padding: 0;
                >div{
                    @include mixins.breakpoint(phone){
                        padding: 0;
                        padding-bottom: 20px;
                    }
                }
                .row{
                    margin: 0;
                    .image{
                        background-color: #f0f0f0;
                    }
                    .product{
                        padding-top: 24px;
                        .product-body{
                            span{
                                font-size: 12px;
                                a{
                                    color: #51ce54;
                                }
                            }
                            h2{
                                font-size: 23px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                margin: 10px 0px;
                            }
                            p{
                                font-size: 14px;
                                padding-right: 12px;
                                text-align: justify;
                            }
                            .price-product{
                                margin-bottom: 10px;
                                font-weight: bold;
                                span{
                                    font-size: 22px;
                                }
                                .price-before{
                                    opacity: .6;
                                    text-decoration: line-through;
                                }
                            }
                            .add-cart-quantity{
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                .quantity-input{
                                    display: flex;
                                    input[type=number]::-webkit-inner-spin-button,
                                    input[type=number]::-webkit-outer-spin-button {
                                        -webkit-appearance: none;
                                        margin: 0;
                                    }
                                    input,
                                    a{
                                        text-align: center;
                                        width: 38px;
                                        height: 38px;
                                        border: 1px solid #d3d3d3;
                                    }
                                    a{
                                        text-decoration: none;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        color: #415161;
                                    }
                                }
                                .cart{
                                    background-color: #51ce54;
                                    border-color: #51ce54;
                                    i{
                                        color: #ffffff;
                                    }
                                }
                            }                        
                        }
                    }
                }
            }           
        }
    }
}