<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <div class="col-md-6 text-slider">
                    <h1>Productos 100% Naturales</h1>
                    <p>Encuentra la mejor selección para cuidar tu salud</p>
                    <a class="btn btn-primary" href="#">
                        EXPLORAR
                        <i class="bi bi-chevron-double-right"></i>
                    </a>
                </div>
                <div class="col-md-6 image-slider">
                    <img src="assets/img/product-banner.webp" width="500" height="700" loading="eager" class="d-block" alt="Producto Naturista">
                </div>
            </div>
        </div>
    </div>
</div>