//base
@use "./base/base.scss";
@use "./base/typography.scss";

//layouts
@use "./layout/header.scss";
@use "./layout/footer.scss";

//pages
@use "./pages/home.scss";
@use "./pages/notfound.scss";
@use "./pages/shop.scss";

//Componenets
@use "./components/slider.scss";
@use "./components/cards-recommendation.scss";
@use "./components/product-cards.scss";
@use "./components/cards-infos.scss";
@use "./components/testimonials.scss";
@use "./components/quick-view.scss";
@use "./components/breadcrump.scss";
