//abstracts
@use "../abstracts/mixins.scss";

body, *{
    font-family: 'Barlow-Regular-Medium', sans-serif !important;
    color: #415161;
    .container-fluid{
        @include mixins.breakpoint(desktop){
            padding: 0;
        }
    }
    .title-section{
        h2{
            text-align: center;
            margin-bottom: 40px;
            font-size: 40px;
            @include mixins.breakpoint(phone){
                font-size: 33px;
            }
        }
    }
    .spacers{
        padding: 120px 0px;
        @include mixins.breakpoint(phone){
            padding: 60px 0px;
        }
    }
    .spacer-bottom{
        padding-bottom: 80px;
    }
    .spacer-top{
        padding-top: 80px;
    }
}