@font-face {
    font-family: 'Barlow-Regular-Medium';
    src: url('../assets/fonts/Barlow/Barlow-Medium.ttf') format(truetype);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}