<div class="container">
    <div class="form-subscribe border-bottom">
        <div class="text-subscribe">
            <h5>Suscribite a nuestro newsletter</h5>
            <p>Recibe noticias de nuestras promociones</p>
        </div>
        <form class="form-sub">
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                <label for="newsletter1" class="visually-hidden">Email</label>
                <input id="newsletter1" type="text" class="form-control" placeholder="Email">
                <button class="btn btn-primary" type="button">Suscribirse</button>
            </div>
        </form>
    </div>
    <div class="row nav-footer">
        <div class="col-md-3 column">
            <h5>Nature Online</h5>
            <p>Somo una tienda especilizada en ofrecerte los mejores productos 100% naturales para cuidar tu salud
            </p>
        </div>

        <div class="col-md-2 column">
            <h5>Enlaces de Interes</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Terminos & Condiciones</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Preguntas Frecuentes</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Nosotros</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Inicio</a></li>
            </ul>
        </div>

        <div class="col-md-2 column">
            <h5 class="title-pay">Medios de Pago</h5>
            <img src="assets/img/mercadopago-removebg-preview.webp" width="158" height="59" alt="MercadoPago">
        </div>

        <div class="col-md-2 column">
            <h5>Horario</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">Lunes - viernes: 9am – 6pm.</li>
                <li class="nav-item mb-2">Sábados: 9am – 5pm.</li>
                <li class="nav-item mb-2">Contáctenos</li>
                <li class="nav-item mb-2">32636632</li>
            </ul>
        </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top copy">
        <p>© 2024 Nature Online. Todos los derechos reservados.</p>
        <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-dark" href="#">
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 26 26" width="52px" height="52px"><path d="M 7.546875 0 C 3.390625 0 0 3.390625 0 7.546875 L 0 18.453125 C 0 22.609375 3.390625 26 7.546875 26 L 18.453125 26 C 22.609375 26 26 22.609375 26 18.453125 L 26 7.546875 C 26 3.390625 22.609375 0 18.453125 0 Z M 7.546875 2 L 18.453125 2 C 21.527344 2 24 4.46875 24 7.546875 L 24 18.453125 C 24 21.527344 21.53125 24 18.453125 24 L 7.546875 24 C 4.472656 24 2 21.53125 2 18.453125 L 2 7.546875 C 2 4.472656 4.46875 2 7.546875 2 Z M 20.5 4 C 19.671875 4 19 4.671875 19 5.5 C 19 6.328125 19.671875 7 20.5 7 C 21.328125 7 22 6.328125 22 5.5 C 22 4.671875 21.328125 4 20.5 4 Z M 13 6 C 9.144531 6 6 9.144531 6 13 C 6 16.855469 9.144531 20 13 20 C 16.855469 20 20 16.855469 20 13 C 20 9.144531 16.855469 6 13 6 Z M 13 8 C 15.773438 8 18 10.226563 18 13 C 18 15.773438 15.773438 18 13 18 C 10.226563 18 8 15.773438 8 13 C 8 10.226563 10.226563 8 13 8 Z"/></svg>
                </a>
            </li>
            <li class="ms-3"><a class="link-dark" href="#">
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="100px" height="100px"><path d="M25,3C12.85,3,3,12.85,3,25c0,11.03,8.125,20.137,18.712,21.728V30.831h-5.443v-5.783h5.443v-3.848 c0-6.371,3.104-9.168,8.399-9.168c2.536,0,3.877,0.188,4.512,0.274v5.048h-3.612c-2.248,0-3.033,2.131-3.033,4.533v3.161h6.588 l-0.894,5.783h-5.694v15.944C38.716,45.318,47,36.137,47,25C47,12.85,37.15,3,25,3z"/></svg>
                </a>
            </li>
        </ul>
    </div>
</div>