//abstracts
@use "../abstracts/mixins.scss";

.container{
    .form-subscribe{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0px;
        @include mixins.breakpoint(phone){
            flex-direction: column;
        }
        .text-subscribe{
            h5{
                font-size: 33px;
                @include mixins.breakpoint(phone){
                    font-size: 20px;
                    margin-bottom: 4px;
                }
            }
            h5,p{
                margin: 0;
            }
        }
        .form-sub{
            width: 400px;
            @include mixins.breakpoint(phone){
                width: 90%;
                margin-top: 12px;
            }
            @include mixins.breakpoint(desktop){
                margin-right: 140px;
            }
        }
    }
    .nav-footer{
        margin: 0;
        justify-content: space-between;
        padding-top: 30px;
        @include mixins.breakpoint(phone){
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
        }
        .column{
            @include mixins.breakpoint(phone){
                margin-bottom: 30px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            .nav-link{
                &:hover{
                    color: #51ce54 !important;
                }
            }
            &:first-child{
                padding-left: 0;
                @include mixins.breakpoint(phone){
                    padding: 0;
                }
            }
            h5{
                font-weight: bold;
                @include mixins.breakpoint(desktop){
                    margin-bottom: 19px;
                }
            }
            p{
                margin: 0;
            }
            .title-pay{
                text-align: center;
                & + img{
                    width: 100%;
                    @include mixins.breakpoint(phone){
                        width: 70%;
                    }
                }
            }
            li,p{
                font-size: 15px;
            }
        }
    }
    .copy{
        margin-bottom: 0 !important;
        text-align: center;
        p,ul{
            margin: 0;
            justify-content: center;
        }
        p{
            @include mixins.breakpoint(phone){
                margin-bottom: 10px;
            }
        }
        svg{
            width: 25px;
            height: 25px;
        }
    }
}